<div class="container my-5">
    <h1>Editar Usuário</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateUser()">
                <div class="mb-3">
                    <label for="fistName" class="form-label">Primeiro Nome</label>
                    <input type="text" class="form-control" id="fistName" name="fistName"
                        [(ngModel)]="addUserRequest.primeiroNome">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Segundo Nome</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                        [(ngModel)]="addUserRequest.sobreNome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" class="form-control" id="email"
                        name="email" [(ngModel)]="addUserRequest.email" ngModel #emailref="ngModel">
                    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
                        <div [hidden]="!emailref.errors">
                            E-mail inválido!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dataNascimento" name="dataNascimento"
                        [(ngModel)]="addUserRequest.dataNascimento">
                </div>
                <div class="mb-3">
                    <label for="education" class="form-label">Escolaridade</label>
                    <select class="form-select">
                        <option *ngFor="let name of escolaridade" [value]="name"> {{name}} </option>
                    </select>
                </div>
                <button [disabled]="emailref.errors" type="submit" class="btn btn-primary">Atualizar</button>
                <button type="button" class="btn btn-danger mr-5"
                    (click)="deleteUser(addUserRequest.id)">Apagar</button>
            </form>
        </div>
    </div>
</div>